@charset "utf-8";

* {
    line-height: 100%;
    font-family: inherit;
    margin: 0;
}

html, body {
    padding: 0;
    height: 100%;
}

a {
    text-decoration: none;
}

.little-bigpicture-container {
    height: 100%;
    position: relative;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}

.little-bigpicture-content {
    position: absolute;
    overflow: visible;
}

.text {
    position: absolute;
    white-space: pre;
    outline: 0;
    line-height: 1.1;
    cursor: default;
}
.text.selected {
    background: #FFFFCC;
    cursor: move;
}
.text:focus {
    background: #FFFFFF;
    min-width: .75em;
    cursor: text;
}

#content {
    height: 100%;
    font-family: Arial,sans-serif;
    background: #D0F8E8;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(#F0F0F0), to(#B0F0E0));
    background: -webkit-radial-gradient(#F0F0F0, #B0F0E0);
    background:         radial-gradient(#F0F0F0, #B0F0E0);
}

#menu-default {
    position: absolute;
    left:  0;
    top:   0;
}
#menu-edit {
    position: absolute;
    right: 0;
    top:   0;
}

.pure-menu {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.pure-menu-link {
    cursor: pointer;
    line-height: 2em;
}
.pure-menu-link:hover {
    background-color: rgb(192, 255, 224);
}
.pure-menu-children {
    background: transparent;
}
@media (max-width: 480px) {
    .pure-menu.horizontal {
        padding-left: 0;
    }
    .pure-menu-link {
        font-size: 87.25%;
        padding-left:  .5em;
        padding-right: .5em;
    }
}
.pure-menu.horizontal>.pure-menu-item{display:inline-block;*display:inline;zoom:1;vertical-align:middle}
.pure-menu.horizontal>.pure-menu-has-children>.pure-menu-link:after{content:"\25BE"}
.pure-menu.horizontal>.pure-menu-has-children>.pure-menu-children{left:0;top:auto;width:inherit}
