@charset "utf-8";

* {
    line-height: 100%;
    font-family: inherit;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
    text-decoration: none;
}

.little-bigpicture-container {
    height: 100%;
    position: relative;
    overflow: hidden;
    background: #D0D0D0;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(#F0F0F0), to(#B0B0B0));
    background: -webkit-radial-gradient(#F0F0F0, #B0B0B0);
    background:    -moz-radial-gradient(#F0F0F0, #B0B0B0);
    background:      -o-radial-gradient(#F0F0F0, #B0B0B0);
    background:         radial-gradient(#F0F0F0, #B0B0B0);
    -webkit-font-smoothing: antialiased;
}

.little-bigpicture-content {
    position: absolute;
    overflow: visible;
}

.text {
    position: absolute;
    white-space: pre;
    outline: 0;
    line-height: 1.1;
    padding: 1px;
}

.text:focus {
    background: #FFFFCC;
}
[data-moving=text] .text {
    cursor: move;
}


#content {
    position: absolute;
    left: 0;
    top: 40px;
    right: 0;
    bottom: 0;
    font-family: Arial,sans-serif;
}

#header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 40px;
    color: rgb(248, 248, 248);
    background-color: rgb(64, 64, 64);
    overflow: hidden;
}

.toolbar {
    float: left;
    height: 40px;
}

.toolbar .button {
    line-height: 40px;
    display: inline;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    padding: 0 8px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.toolbar .button:hover {
    color: rgb(255, 255, 192);
}
.toolbar .button.selected {
    color: rgb(128, 192, 255);
}

.toolbar .button .fa {
    font-size: 20px;
}
.toolbar .button .caption {
    font-family: Verdana,sans-serif;
    font-size: 16px;
    margin-left: .4em;
}
@media (max-width: 480px) {
    .toolbar .button {
        display: inline-block;
        padding: 6px 4px;
        text-align: center;
    }
    .toolbar .button .fa {
        font-size: 16px;
    }
    .toolbar .button .caption {
        font-size: 12px;
        display: block;
    }
    .toolbar .nocaption .fa {
        font-size: 20px;
    }
}

.toolbar.edit {
    float: right;
}
